go 1.20
use ./01hello
use ./02variable
use ./03userinput
use ./04conversion
use ./05mymaths
use ./06mytime
use ./07mypointers
use ./08myarray
use ./09myslices
use ./10mymaps
use ./11mystructs
use ./12ifelse
use ./13myswitch
use ./14loops
use ./15functions
use ./16methods
use ./17defer
use ./18files
use ./19webrequests
use ./20urls
use ./21webrequestsverb
use ./22jsondata
use ./23modules